<div id="markdown-settings-panel">
    <div class="md-settings-row">
        <span class="md-settings-label">Format</span>
        <select id="markdown-preview-format">
            <option>Standard Markdown</option>
            <option>GitHub-Flavored (GFM)</option>
        </select>
    </div>
    <div class="md-settings-row">
        <span class="md-settings-label">Theme</span>
        <select id="markdown-preview-theme">
            <option value="clean">Light</option>
            <option value="dark">Dark</option>
            <option value="serif">Classic</option>
        </select>
    </div>
    <div>
        <span class="md-settings-label"></span>
        <label><input type="checkbox" id="markdown-preview-sync-scroll">Sync scroll position</label>
    </div>
    <div class="md-settings-row">
        <span class="md-settings-label">Syntax Highlight Theme</span>
        <select id="markdown-preview-hightlighttheme">
            <option value="default">Default</option>
            <option value="agate">Agate</option>
            <option value="androidstudio">Android Studio</option>
            <option value="arta">Arta</option>
            <option value="ascetic">Ascetic</option>
            <option value="atelier-cave.dark">Atelier Cave Dark</option>
            <option value="atelier-cave.light">Atelier Cave Light</option>
            <option value="atelier-dune.dark">Atelier Dune Dark</option>
            <option value="atelier-dune.light">Atelier Dune Light</option>
            <option value="atelier-estuary.dark">Atelier Estuary Dark</option>
            <option value="atelier-estuary.light">Atelier Estuary Light</option>
            <option value="atelier-forest.dark">Atelier Forest Dark</option>
            <option value="atelier-forest.light">Atelier Forest Light</option>
            <option value="atelier-heath.dark">Atelier Heath Dark</option>
            <option value="atelier-heath.light">Atelier Heath Light</option>
            <option value="atelier-lakeside.dark">Atelier Lakeside Dark</option>
            <option value="atelier-lakeside.light">Atelier Lakeside Light</option>
            <option value="atelier-plateau.dark">Atelier Plateau Dark</option>
            <option value="atelier-plateau.light">Atelier Plateau Light</option>
            <option value="atelier-savanna.dark">Atelier Savanna Dark</option>
            <option value="atelier-savanna.light">Atelier Savanna Light</option>
            <option value="atelier-seaside.dark">Atelier Seaside Dark</option>
            <option value="atelier-seaside.light">Atelier Seaside Light</option>
            <option value="atelier-sulphurpool.dark">Atelier Sulphurpool Dark</option>
            <option value="atelier-sulphurpool.light">Atelier Sulphurpool Light</option>
            <option value="brown_paper">Brown Paper</option>
            <option value="codepen-embed">Codepen Embed</option>
            <option value="color-brewer">Color Brewer</option>
            <option value="dark">Dark</option>
            <option value="darkula">Darkula</option>
            <option value="docco">Docco</option>
            <option value="far">Far</option>
            <option value="foundation">Foundation</option>
            <option value="github">Github</option>
            <option value="googlecode">Google Code</option>
            <option value="hybrid">Hybrid</option>
            <option value="idea">IDEA</option>
            <option value="ir_black">IR Black</option>
            <option value="kimbie.dark">Kimbie Dark</option>
            <option value="kimbie.light">Kimbie Light</option>
            <option value="magula">Magula</option>
            <option value="mono-blue">Mono Blue</option>
            <option value="monokai_sublime">Monokai Sublime</option>
            <option value="monokai">Monokai</option>
            <option value="obsidian">Obsidian</option>
            <option value="paraiso.dark">Paraiso Dark</option>
            <option value="paraiso.light">Paraiso Light</option>
            <option value="pojoaque">Pojoaque</option>
            <option value="railscasts">Railscasts</option>
            <option value="rainbow">Rainbow</option>
            <option value="school_book">School Book</option>
            <option value="solarized_dark">Solarized Dark</option>
            <option value="solarized_light">Solarized Light</option>
            <option value="sunburst">Sunburst</option>
            <option value="tomorrow-night-blue">Tomorrow Night Blue</option>
            <option value="tomorrow-night-bright">Tomorrow Night Bright</option>
            <option value="tomorrow-night-eighties">Tomorrow Night Eighties</option>
            <option value="tomorrow-night">Tomorrow Night</option>
            <option value="tomorrow">Tomorrow</option>
            <option value="vs">Visual Studio</option>
            <option value="xcode">XCode</option>
            <option value="zenburn">Zenburn</option>
        </select>
    </div>

</div>
